extends templates/main

block content
   //- section
  .container-fuild
    include header/header
  //- section
  .container-fuild
  //- section
  .container-fuild
  //- section
  .container-fuild
  //- section
  .container-fuild
  //- section
  .container-fuild
  //- section
  .container-fuild
  //- section
  .container-fuild
  //- section
  .container-fuild
  //- section
  .container-fuild
  //- section
  .container-fuild


  append scripts
