//- index.html


extends template/sky.pug

block link
    include template/link.pug
    link(rel="stylesheet" href="../css/mystyle.css")

block metas
    include template/meta.pug
    
block title
    | HELLO

block content
    h1 Привет Мир!!!
    .section-1

    
        
    
    


                
        
        
